@import url('https://fonts.googleapis.com/css2?family=Hind&family=Playfair+Display&family=Plus+Jakarta+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,400&display=swap');
:root {
  --goldColor: #efb810;
  --brownColor: #4c2900;
  --turquoiseColor: #006e61;
  --whiteColor: #fffae9;
  --darkColor: #151314;
}
* {
  font-family: 'Plus Jakarta Sans', sans-serif;
}
html {
  background: var(--darkColor);
}
a {
  text-decoration: none;
  color: var(--whiteColor);
}