/* Hero's part Style */

.landPageImgContiner {
}
.landPageImg {
  width: 100vw;
  position: absolute;
  top: -200px;
  left: 0;
  z-index: -1;
  filter:  brightness(90%);
}
.heroText {
  width: 41vw;
  max-width: 750px;
  min-width: 630px;
  position: absolute;
  left: 51%;
  top: 200px;
  background-color: var(--whiteColor);
  padding: 30px;  
  color: var(--darkColor);
  box-shadow: 20px -20px 0 0 var(--darkColor);
}
.heroParagraph {
  margin-top: 60px;
  font-size: 25px;
}

.mainTitle {
  font-size: 2.5em;
  font-weight: 400;
  width: 90%;
}
.doorbellText, .ringText {
  padding: 5px;
  border-radius: 10px;
  font-weight: 600;
}
.doorbellText {
  color: var(--turquoiseColor);
}
.ringText {
  color: var(--goldColor);
}

/* About Us Section Style */
.aboutUsSection {
  position: absolute;
  width: 100vw;
  top: 100vh;
  left: 0;
  background-color: var(--whiteColor);
}