.LayoutBody {
    display: block;
}
/* Nav Style */

.bellLogo {
    width: 70px;
}
.navContainer {

}
.nav {
    display: flex;
    color: var(--whiteColor);
    position: fixed;
    top: 10px;
    right: 10vw;
    font-size: 18px;
    z-index: 4;
    text-shadow: 0px 1px 10px #000;
}
.navLinks {
    display: flex;
    list-style: none;
    margin-right: 20vw;
}
.navlink {
    margin: 0 30px;
}
.navlogsign {
    display: flex;
}
.navlogin, .navsignup {
    padding: 10px 12px;
    margin: 0 5px;
    margin-top: 10px;
}
.navsignup {
    background-color: var(--turquoiseColor);
    height: 25px;
}

/* Footer */

.footer {
    height: 100px;
    width: 100vw;
    background-color: var(--darkColor);
    color: var(--whiteColor);
    margin: 20px 0;
}

@media (max-width: 600px) {
    .navLinks {
        display: none;
    }
    .bellLogo {
        position: absolute;
        right: 0;
    }
    .navlogsign {
        display: none;
    }
}