.LayoutBody {
    display: block;
}
/* Nav Style */

.bellLogo {
    width: 70px;
    position: relative;
    top: -17px;
    margin: 0 50px 0 0;
}
.navContainer {

}
.nav {
    display: flex;
    color: var(--whiteColor);
    position: fixed;
    top: 10px;
    right: 0;
    width: 100vw;
    font-size: 18px;
    z-index: 4;
    text-shadow: 0px 1px 10px #000;
    display: flex;
    justify-content: space-evenly;
}
.navLinks {
    display: flex;
    list-style: none;
}
.navlink {
    margin: 0 30px;
}
.navlogsign {
    display: flex;
}
.navlogin, .navsignup {
    padding: 10px 12px;
    margin: 0 5px;
    margin-top: 10px;
}
.navsignup {
    background-color: var(--turquoiseColor);
    height: 25px;
}

/* Footer */

.footer {
    height: 100px;
    width: 100vw;
    background-color: var(--darkColor);
    color: var(--whiteColor);
    margin: 20px 0;
}

@media (max-width: 600px) {
    .nav {
        top: 0;
        right: 0;
    }
    .bellsIcon {
        width: 100vw;
        justify-content: center;
        display: flex;
        position: absolute;
        top: 25px;
        left: 0;
    }
    .navLinks .navlink {
        display: none;
    }
    .bellLogo {
        margin: auto;
    }
    .navlogsign {
        display: none;
    }
}